
body{
    height: 100%;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    box-shadow: 8px 8px 12px #aaa;
}

header{
    background-color:#1A1A1D;
    height: 100px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
}

.un{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 10px;
}
.deux{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    margin-right: 10px;
    width: 100%;
   
}


#homeu{
   font-size: small;
    color: white;
}
/* Début section 1*/
#section1{
    background-color: #334D5C;
    height: 250px;
    width: 100%;
    display: flex;
    position: relative;
}
#section1>img{
    display: flex;
    height: 150px;
    width:150px;
    margin-left: 100px;
    margin-top: 50px;

}
#section1>h1{
   
    position: absolute;
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-size:300%;
    margin-top: 7%;
    margin-left: 30%;
}

#section1>p{
    position: absolute;
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-size:200%;
    margin-top: 13%;
    margin-left: 30%;
}
/*fin section 1*/

/*début section 2*/
#section2{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#oeuf{
    display: flex;
    align-items:center;
    margin-top: 15%;
    margin-left: 80px;

}

#éclosion{
    background-color: #334D5C;
    height: 125px;
    width: 320px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    position: absolute;
    text-align:center;
    margin-left: 42%;
    margin-top: 5%;
    font-size:200%;
}
#section2>p{
    height: 100px;
    width: 400px;
    position: absolute;
    font-family:'Ubuntu', sans-serif ;
    color: black;
    text-align:justify;
    font-size:larger;
    margin-left: 50% ;
    margin-top: 20%;
}







/*fin section 2*/

/*début section 3*/
#section3{
    background-color: #EAE3D6;
    height: 150px;
    width: 100%;
    display: flex;
}
#logosec3{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
}
#section3>div>img{
  
    height: 100px;
    width: 100px;
}
/*fin section 3*/

/*début section 4*/
#section4{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#oeuf2{
    display: flex;
    align-items:center;
    margin-top: 15%;
    margin-left: 80px;
}
#arbre{
    background-color: #334D5C;
    height: 125px;
    width: 320px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    position: absolute;
    text-align:center;
    margin-left: 42%;
    margin-top: 5%;
    font-size:200%;
}
#section4>p{
    height: 100px;
    width: 400px;
    position: absolute;
    font-family:'Ubuntu', sans-serif ;
    color: black;
    text-align:justify;
    font-size:larger;
    margin-left: 50% ;
    margin-top: 20%;
}


/*fin section 4*/



/*début section 5*/
#section5{
    background-color: #EAE3D6;
    height: 400px;
    width: 100%;
    display: flex;
    position: relative;
}

#logosec5{
    height: 150px;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 5%;
    position: absolute;
}

#logosec5bas{
    height: 150px;
    display: flex;
    width: 100%;
    margin-top: 20%;
    position: absolute;
    justify-content: center;
}

#section5>div>img{
    height: 100px;
    width: 100px;
}




/*fin section 5*/

/*début section 6*/
#section6{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#oeuf3{
    display: flex;
    align-items:center;
    margin-top: 15%;
    margin-left: 80px;
}
#envol{
    background-color: #334D5C;
    height: 125px;
    width: 320px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    position: absolute;
    text-align:center;
    margin-left: 42%;
    margin-top: 5%;
    font-size:200%;
}
#section6>p{
    height: 100px;
    width: 400px;
    position: absolute;
    font-family:'Ubuntu', sans-serif ;
    color: black;
    text-align:justify;
    font-size:larger;
    margin-left: 50% ;
    margin-top: 20%;

}


/*début section 6*/

/*début section 7*/
#section7{
    background-color: #EAE3D6;
    height: 150px;
    width: 100%;
    display: flex;
}
#logosec7{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
}
#section7>div>img{
  
    height: 100px;
    width: 100px;
}
/*début section 7*/

footer{
    background-color: #393A3B;
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#footerp{
    height: 100px;
    width: 100%;
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}

/* à retravailler
footer>div>img{
    height: 100px;
    width: 100px;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%;
}

