
body{
    height: 100%;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    box-shadow: 8px 8px 12px #aaa;
}

header{
    background-color:#1A1A1D;
    height: 120px;
    width: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
}

.un{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 10px;
}
.deux{
    display: flex;
    justify-content:space-evenly;
    align-items:flex-start;
    margin-right: 200px;
    width: 100%;
}
.deux>li{
    text-align: center;
}

.texte{
    color: white;
    margin-top: 2px;
    text-align: center;
    font-family:'Ubuntu', sans-serif;
}

header>div:last-of-type{
    margin-right: 30px;
}


/* Début section 1*/
#section1{
    background-color: #334D5C;
    height: 250px;
    width: 100%;
    display: flex;
    position: relative;
}
#section1>img{
    display: flex;
    height: 150px;
    width:150px;
    margin-left: 100px;
    margin-top: 50px;

}
#section1>h1{
   
    position: absolute;
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-size:300%;
    margin-top: 7%;
    margin-left: 30%;
}

#section1>p{
    position: absolute;
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-size:200%;
    margin-top: 13%;
    margin-left: 30%;
}
/*fin section 1*/

/*début section 2*/
#section2{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#oeuf{
    display: flex;
    align-items:center;
    margin-top: 15%;
    margin-left: 80px;

}

#éclosion{
    background-color: #334D5C;
    height: 125px;
    width: 320px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    position: absolute;
    text-align:center;
    margin-left: 42%;
    margin-top: 5%;
    font-size:200%;
}
#section2>p{
    height: 100px;
    width: 400px;
    position: absolute;
    font-family:'Ubuntu', sans-serif ;
    color: black;
    text-align:justify;
    font-size:larger;
    margin-left: 50% ;
    margin-top: 20%;
}







/*fin section 2*/

/*début section 3*/
#section3{
    background-color: #EAE3D6;
    height: 200px;
    width: 100%;
  
}

#section3>div>ul>li{
    margin-top: 35px;
    text-align: center;
}
#section3>div>ul{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height: 175px;
    
}
#section3>div>ul>li>img{
  
    height: 100px;
    width: 100px;
}

#section3>div>ul>li>p{
    font-family:'Ubuntu', sans-serif;
}
/*fin section 3*/

/*début section 4*/
#section4{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#oeuf2{
    display: flex;
    align-items:center;
    margin-top: 15%;
    margin-left: 80px;
}
#arbre{
    background-color: #334D5C;
    height: 125px;
    width: 320px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    position: absolute;
    text-align:center;
    margin-left: 42%;
    margin-top: 5%;
    font-size:200%;
}
#section4>p{
    height: 100px;
    width: 400px;
    position: absolute;
    font-family:'Ubuntu', sans-serif ;
    color: black;
    text-align:justify;
    font-size:larger;
    margin-left: 50% ;
    margin-top: 20%;
}


/*fin section 4*/



/*début section 5*/
#section5{
    background-color: #EAE3D6;
    height: 325px;
    width: 100%;
}

#section5>div>ul>li{
    margin-top: 10%;
    text-align: center;
}
#logosec5>ul{
    height: 100px;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    align-items: center;
}
#logosec5bas>ul{
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
#section5>div>ul>li>img{
    height: 100px;
    width: 100px;
}
#section5>div>ul>li>p{
    font-family:'Ubuntu', sans-serif ;
}




/*fin section 5*/

/*début section 6*/
#section6{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
}
#oeuf3{
    display: flex;
    align-items:center;
    margin-top: 15%;
    margin-left: 80px;
}
#envol{
    background-color: #334D5C;
    height: 125px;
    width: 320px;
    color: white;
    font-family:'Ubuntu', sans-serif;
    position: absolute;
    text-align:center;
    margin-left: 42%;
    margin-top: 5%;
    font-size:200%;
}
#section6>p{
    height: 100px;
    width: 400px;
    position: absolute;
    font-family:'Ubuntu', sans-serif ;
    color: black;
    text-align:justify;
    font-size:larger;
    margin-left: 50% ;
    margin-top: 20%;

}


/*début section 6*/

/*début section 7*/
#section7{
    background-color: #EAE3D6;
    height: 200px;
    width: 100%;
    
}
#section7>div>ul{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100%;
    height: 200px;
}
#section7>div>ul>li>img{
    height: 100px;
    width: 100px;
}

#section7>div>ul>li{
    text-align: center;
}

#section7>div>ul>li>p{
    font-family:'Ubuntu', sans-serif ;
}
/*début section 7*/

footer{
    background-color: #393A3B;
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
}


footer>div>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100%;
    margin-left: 20px; 
}
footer>div>p{
    text-align:start;
    margin-left: 25%;
    font-family:'Ubuntu', sans-serif ;
    color: white;
    font-size:125%;
    font:bolder;
}

footer>div>ul>li>img{
    height: 70px;
    width: 70px;
}
footer>div{
    margin-top: 50px;
    margin-left: 75px;  
}





/* à retravailler
footer>div>img{
    height: 100px;
    width: 100px;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%;
}

